body {
    width: auto; 
    height: auto;
    margin-top: 0%;
    margin-left: 0%;
}
.background {
    position: relative;
    max-width: 1920px;
    max-height: 1080px;
    margin: 0px 0px;
    background: linear-gradient(90deg, #00B4DB 0%, #0083B0 100%);
}
.img {
    position: absolute;
    width: 940px;
    height: 980px;
    left: -245px;
    top: 7px;
    opacity: 0.1;
    
}
.first-container {
    position: absolute;
    width: 1496px;
    height: 849px;
    left: 11%;
    top: 10%;
    background: #FFFFFF;
    border-radius: 40px;

}

.rectangle {
    /* Rectangle 1379 */
position: absolute;
width: 1366px;
height: 849px;
left: calc(50% - 1366px/2 - 60px);
top: calc(50% - 849px/2 - 13.5px);
border-radius: 40px;
}

.vespa {
    position: absolute;
    width: 1132px;
    height: 849px;
    left: calc(50% - 1132px/2 + 182px);
    top: calc(50% - 849px/2 - 0.5px);
}

.fields {
    font-family: 'Poppins', sans-serif;
    margin: 98px 969px 126px 126px;
    width: 401px;
    height: 595px;
}

.gray-rectangle {
    /* Rectangle 1380 */
position: absolute;
width: 489px;
height: 849px;
left: calc(50% - 489px/2 + 393.5px);
top: calc(50% - 849px/2 + 13.5px);

background: #E2EEF5;
border-radius: 40px;
}

.logo-text {
    font-size: 24px;
    line-height: 29px;
    color: #465685;

}

.login-text { 
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
}
.input-fields {
    position: absolute;
width: 400px;
height: 50px;
left: calc(50% - 400px/2 - 461px);
top: calc(50% - 50px/2 - 128px);
background-color: #ffffff !important;
z-index: 50;
border: 1px solid #BCBEC0;
box-sizing: border-box;
border-radius: 40px;
}
.email-text {
position: absolute;
width: 34px;
height: 16px;
left: calc(50% - 34px/2 - 645px);
top: calc(50% - 16px/2 - 163px);

font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #414042;
}
.password-text {
position: absolute;
width: 61px;
height: 16px;
left: calc(50% - 21px/2 - 653.5px);
top: calc(50% - 206px/2 - 10.5px);

font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #414042;
}
.forgot-password-text {
    position: absolute;
width: 98px;
height: 14px;
left: calc(50% - 98px/2 - 612px);
top: calc(50% - 14px/2 + 27px);

font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 14px;
/* identical to box height */

display: flex;
align-items: center;

color: #465685;
}
.button {
position: absolute;
width: 400px;
height: 50px;
left: calc(50% - 400px/2 - 461px);
top: calc(50% - 50px/2 + 101px);
background: #A93159;
border-radius: 40px;
font-family: Gilroy;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
display:flex; 
justify-content:center; 
align-items:center; 
color: #FFFFFF;


}

.register-text {

    position: absolute;
    width: 103px;
    height: 17px;
    left: calc(50% - 103px/2 - 410.5px);
    top: calc(50% - 17px/2 + 347.5px);
    
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-decoration-line: underline;
    display: flex;
    align-items: center;
    
    color: #465685;
}
.dont-text {
    position: absolute;
width: 178px;
height: 16px;
left: calc(50% - 178px/2 - 556px);
top: calc(50% - 16px/2 + 347px);

font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;

color: #BCBEC0;
}

.google-button {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-left: 45px;
    
}
.google-container {
position: absolute;
width: 125px;
height: 50px;
left: calc(50% - 125px/2 - 619.5px);
top: calc(50% - 50px/2 + 282px);
margin-left: 22px;
background: #FFFFFF;
border: 1px solid #BCBEC0;
box-sizing: border-box;
border-radius: 40px;

}
.github-container {
    position: absolute;
    width: 125px;
    height: 50px;
    left: calc(50% - 125px/2 - 483.5px);
    top: calc(50% - 50px/2 + 282px);
    margin-left: 22px;
    background: #FFFFFF;
    border: 1px solid #BCBEC0;
    box-sizing: border-box;
    border-radius: 40px;
}
.github-button {
    position: absolute;
    width: 26px;
    height: 26px;
    margin-left: 49px;
    margin-top: 8.5px;
    border-radius: 40px;
}
.facebook-container {
    position: absolute;
    width: 125px;
    height: 50px;
    left: calc(50% - 125px/2 - 347.5px);
    top: calc(50% - 50px/2 + 282px);
    margin-left: 22px;
    background: #FFFFFF;
    border: 1px solid #BCBEC0;
    box-sizing: border-box;
    border-radius: 40px;
}
.facebook-button {
    position: absolute;
width: 24px;
height: 24px;
margin-left: 49px;
margin-top: 10px;
border-radius: 40px;
}
.continue-text {
    
position: absolute;
width: 103px;
height: 16px;
left: calc(50% - 103px/2 - 482.5px);
top: calc(50% - 16px/2 + 233px);

font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;
display: flex;
align-items: center;
color: #798995;
}

.social-container {
    width: 100%;
    display: flex;
    justify-content: baseline;
    margin-top: 1px;
 
}
.email {
    font-family: "Poppins", sans-serif;
    font-style: small;
    font-size: 16px;
    line-height: 16px;
   margin-left: -40px;
   margin-top: 50px; 
}