body {
    margin-top: 0%;
    margin-left: 0%;
}
.register-password-text {
    position: absolute;
    width: 61px;
    height: 16px;
    left: calc(50% - 61px/2 - 632.5px);
    top: calc(50% - 160px/2 - 19px);
    
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    
    color: #414042;
}

.register-email {
    margin-top: 245px;
    margin-left: -40px;
    font-family: "Poppins", sans-serif;
    font-style: small;
    font-size: 16px;
}
.register-container {
    position: relative;
    max-width: 1920px;
    max-height: 1080px;
    margin: 0px 0px;
    background: linear-gradient(90deg, #00B4DB 0%, #0083B0 100%);
}
.whiteBox {
    position: absolute;
    width: 1496px;
    height: 849px;
    left: 11%;
    top: 10%;
    background: #FFFFFF;
    border-radius: 40px;
}
.avatar {
    position: absolute;
    width: 1132px;
    height: 849px;
    left: calc(50% - 1132px/2 + 182px);
    top: calc(50% - 849px/2 - 0.5px);
}